@import "tailwindcss";

:root {
  --background: #eae8e1;
  --foreground: #252423;
  --main-color: #401952;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purple-1000: #401952;

  /* Fonts */
  --font-anton: var(--font-anton);
  --font-ptSerif: var(--font-pt-serif);
  --font-dmSans: var(--font-dm-sans);

  /* Height */
  --height-120: calc(var(--spacing) * 120)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252423;
    --foreground: #eae8e1;
  }
}

body {
  @apply font-ptSerif leading-relaxed;
  background: var(--background);
  color: var(--foreground);
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #993349 #DFE9EB;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #993349;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #993349;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #993349;
}