@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Colors */
  --color-background: #ffffff;
  --color-foreground: #000000;

  --color-deepViolet-100: #f4ebfa;
  --color-deepViolet-200: #f5ecfb;
  --color-deepViolet-300: #dec2f0;
  --color-deepViolet-400: #b374d8;
  --color-deepViolet-500: #9F56C7;
  --color-deepViolet-600: #733b8e;
  --color-deepViolet-700: #401952;

  /* Fonts */
  --font-anton: var(--font-anton);
  --font-ptSerif: var(--font-pt-serif);
  --font-dmSans: var(--font-dm-sans);

  /* Height */
  --height-120: calc(var(--spacing) * 120);

  /* Font-Size */
  --text-clamp: clamp(3rem, 15vw, 8rem);

  /* Spacing */
  --radius-12xl: 8rem;
}

body {
  @apply font-ptSerif leading-relaxed;
  font-optical-sizing: auto;
  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

.bg-degrade {
  background: radial-gradient(75% 75% at 91.7% 6.8%,
      rgba(190, 135, 222, 0.6) 0%,
      rgba(245, 236, 251) 100%);
}

/* Configuração do Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #401952 #ffffff;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #401952;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #401952;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #401952;
}